@font-face {
  font-family: 'Roboto';
  src: url(assets/fonts/Roboto-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url(assets/fonts/Roboto-Bold.ttf);
  font-weight: 700;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  margin: 0px;
  padding: 0px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  min-height: 50px;
}

.header {
  color: #fff;
  background-color: #34495e;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  margin: 18px 0px;
  list-style: none;
}

.nav-link {
  position: relative;
  padding: 0 20px;
  line-height: 50px;
  text-decoration: none;
  color: #fff;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 20px;
  bottom: -5px;
  width: 0px;
  height: 2px;
  background-color: #fff;
  transition: .5s;
}

.nav-link:hover::after {
  width: calc(100% - 40px);
}

.main-container {
  display: flex;
  flex-wrap: wrap;
}

.narrow-section {
  width: 35%;
  background-color: #34495e;
  color: #fff;
  padding: 10px 50px 30px;
}

.wide-section {
  width: 65%;
  padding: 10px 50px 30px;
}

.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-avatar {
  text-align: center;
}
.profile-avatar-image {
  width: 225px;
  border-radius: 50%;
}

.main-title {
  position: relative;
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: 400;
  line-height: 50px;
  text-align: center;
}

.main-title::after {
  position: absolute;
  content: "";
  width: 200px;
  height: 2px;
  bottom: -19px;
  left: 50%;
  letter-spacing: 10px;
  background-color: #000;
  margin-left: -100px;
}

.section-title {
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 400;
}

.subtitle {
  margin-top: 20px;
  text-align: center;
  font-weight: 400;
  color: #34495e;
}

.section-list {
  list-style: none;
  margin-bottom: 0px;
  padding-left: 0px;
}

.contacts-list-item {
  position: relative;
  padding-left: 35px;
}

.contacts-list-item::before {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  left: 0px;
  top: 4px;
  background-size: contain;
  background-repeat: no-repeat;
}

.contacts-list-item:nth-child(1)::before {
  background-image: url(/rsschool-cv/assets/svg/discord-fill.svg);
}

.contacts-list-item:nth-child(2)::before {
  background-image: url(/rsschool-cv/assets/svg/telegram-fill.svg);
}

.contacts-list-item:nth-child(3)::before {
  background-image: url(/rsschool-cv/assets/svg/github-fill.svg);
}

.section-list-link {
  color: #fff;
}

.footer {
  color: #fff;
  background-color: #34495e;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.rss-link {
  width: 120px;
  height: 45px;
  background-image: url(/rsschool-cv/assets/svg/rs_school_js.svg);
  background-size: contain;
  background-repeat: no-repeat;
}