@font-face {
    font-family: 'Poppins';
    src: url(/assets/fonts/Poppins-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Poppins';
    src: url(/assets/fonts/Poppins-SemiBold.ttf);
    font-weight: 600;
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins';
    font-size: 20px;
    margin: 0;
    padding: 0;
    background-color: #F2F2F2;
}

.container {
    max-width: 1270px;
    margin: 0 auto;
}

.header {
    background-color: #fff;
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0 102px;
    margin: 0;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
}

.aside {
    width: 37%;
    background-color: #fff;
    padding: 60px 25px 0 102px;
}

.profile-avatar {
    text-align: center;
    margin-bottom: 50px;
}

.profile-avatar-image {
    max-width: 100%;
    border-radius: 0 35px 0 35px;
}

.main {
    width: 63%;
    background-color: #fff;
    padding-right: 102px;
}

.section-title {
    position: relative;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 5px;
    margin: 0;
    margin-bottom: 30px;
}

.section-title::after {
    position: absolute;
    content: "";
    top: 45px;
    left: 0px;
    width: 65px;
    height: 3px;
    background-color: #000;
}

.main-title {
    font-size: 60px;
    margin: 50px 0 5px;
}

.main-title::after {
    content: none;
}

.subtitle {
    font-weight: normal;
    /* margin-bottom: 40px; */
}

.subtitle::after {
    content: none;
}

.section {
    margin-bottom: 40px;
    padding: 50px;
}

.profile-title {
    padding-top: 0;
    padding-bottom: 0;
}

.section-summary {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 60px;
}

.section-contacts {
    background-color: #F8DCBF;
    border-radius: 35px 0 0 0;
}

.section-projects {
    background-color: #EBDEF0;
    border-radius: 0 35px 0 35px;
}

.section-education {
    background-color: #F8DCBF;
    border-radius: 0 35px 0 35px;
}

.section-languages {
    background-color: #F1E7DD;
    border-radius: 0 0 35px 0;
}
.section-education .section-list-item {
    margin-bottom: 30px;
}

.list-item-paragraph {
    margin-top: 0;
    margin-bottom: 0;
}

.section-skills {
    background-color: #F7D8D5;
    border-radius: 0 35px 35px 0;
}

.section-code {
    background-color: #F1E7DD;
    border-radius: 35px 0 35px 0;
}

.section-list {
    list-style: none;
    padding-left: 0;
}

.section-list-link {
    text-decoration: none;
    color: #000;
}

.contacts-item {
    position: relative;
    padding-left: 35px;
}

.contacts-item::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 0;
    width: 24px;
    height: 24px;
}

.contacts-item:nth-child(1)::before {
    background-image: url(/assets/svg/discord-fill.svg);
}

.contacts-item:nth-child(2)::before {
    background-image: url(/assets/svg/telegram-fill.svg);
}

.contacts-item:nth-child(3)::before {
    background-image: url(/assets/svg/github-fill.svg);
}

.contacts-item:nth-child(4)::before {
    background-image: url(/assets/svg/envelope.svg);
}

.footer {
    background-color: #fff;
}
